#force_directed_graph_div path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#force_directed_graph_div circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

#force_directed_graph_div text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}